/__pypackages__
/**/__pycache__
/.mypy_cache
/.pytest_cache
/build
/dist
/src/data/conf.d/**/conf.yaml
/.idea
.pdm.toml
.sts.env

.vagrant/
/software/f5/BIGIP-16.1.3-0.0.12.ALL-vmware.ova
/software/f5/Vagrantfile
dg2.json
/.sts.env
